@{
    ViewData["Title"] = "Homeopatija";
}

<div>
    <div class="text-center">
        <h1 class="display-4">Homeopatija</h1>
        <p>Patikimiausias vaistų tiekėjas visoje kauno r. savivaldybėje savivaldybėje</p>
    </div>

    <img src="imgs/herbs.jpg" alt="">
</div>