@model homeopatija.Entities.Question

@{
    ViewData["Title"] = "Homeopatija";
}

<style>
    body {
        text-align: center;
    }

    .wizard_image {
        width: 80%;
        padding: 10px;
    }

    form {
        display: inline-block;
    }

    textarea {
        resize: both;
    }
</style>

<div class="burejos_puslapis">
    <div class="text-center">
        <h1>Sveiki atvykę pas būrėją</h1>
    </div>

    <img class="wizard_image" src="/imgs/wizard.png" alt="dėdė burtininkas">
    <br>
    <form asp-action="AskQuestion">
        <div class="form-group">
            <input asp-for="question" class="form-control" placeholder="Klauskite klausimo..." />
        </div>
        <div class="form-group">
            <input type="submit" value="Klausti" class="btn btn-primary" />
        </div>
    </form>
    <br>
    <a asp-action="Horoscope">Sužinoti horoskopą</a>
    <br>
    <a asp-action="Klausimynas">Pradėti klausimyną</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}