@model homeopatija.Entities.Question

@{
    ViewData["Title"] = "Klausimynas";
}

<h1>Atsakykite į klausimą:</h1>
<br>
<br>

<div class="row">
    <div class="col-md-4">
        <form asp-action="AnswerQuestionaire" method="post">
            <input type="hidden" asp-for="question" />
            <h3>@Model.question</h3>
            <input type="hidden" id="selectedAnswer" name="answer" />
            <button type="button" class="btn btn-success" onclick="selectAnswer('Yes')">Taip</button>
            <button type="button" class="btn btn-danger" onclick="selectAnswer('No')">Ne</button>
            <br>
            <br>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Patvirtinti</button>
            </div>
        </form>
    </div>
</div>

<hr />
<div>
    <a asp-action="Index">Grįžti</a>
</div>

@section Scripts {
    <script>
        function selectAnswer(answer) {
            document.getElementById('selectedAnswer').value = answer;
        }
    </script>

    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
