@{
    ViewData["Title"] = "Privatumo politika";
}
<h1>@ViewData["Title"]</h1>

  <p><em>*Jūsų įmonės pavadinimas*</em> deda didžiausią dėmesį jūsų vartotojų privatumui ir asmens duomenų apsaugai. Ši privatumo politika paaiškina, kaip mes renkame, naudojame, saugome ir apdorojame jūsų asmens duomenis.</p>

  <h2>1. Asmens duomenų rinkimas</h2>
  <p>1.1. Mes galime rinkti šiuos asmens duomenis:
  - Vardą, pavardę
  - El. pašto adresą
  - Telefono numerį
  - Kitus duomenis, kuriuos pateikiate mums užpildę internetinius formus ar bendraudami su mumis.</p>

  <p>1.2. Mes taip pat galime rinkti ne asmeninius duomenis, tokius kaip slapukai, naršymo istorija ir kitos techninės informacijos rūšys, siekiant gerinti mūsų svetainės naudojimo patirtį.</p>

  <!-- Toliau seka kitos politikos dalys, kiekviena su savo antraštėmis ir tekstu -->

  <h2>2. Asmens duomenų naudojimas</h2>
  <p>2.1. Jūsų asmens duomenis mes gali naudoti šiais tikslais:
  - Bendras ryšys su jumis ir jūsų užklausų atsakymas.
  - El. laiškų siuntimas, įskaitant naujienlaiškius ir mokėjimo kvitus.
  - Statistikos ir analizės tikslais, siekiant suprasti mūsų klientų poreikius ir pagerinti savo paslaugas.</p>

  <!-- Ir taip toliau... -->

  <h2>7. Kontaktai</h2>
  <p>7.1. Jei turite klausimų apie mūsų Politiką arba jūsų asmens duomenis, prašome susisiekti su mumis:
  - *Jūsų įmonės pavadinimas
  - Adresas
  - El. pašto adresas
  - Telefonas</p>

  <h2>8. Pakeitimai Politikoje</h2>
  <p>8.1. Ši Politika gali būti keičiama, todėl reguliariai tikrinkite šį puslapį, kad galėtumėte sekti atnaujinimus.</p>