@{
    ViewData["Title"] = "Homeopatija";
}

<style>
    .img {
        border: black;
        display: flex;
        justify-content: center;
    }
</style>

<div class="text-center">
    <p>Sveiki atvykę pas būrėją</p>
</div>

<img class = "wizard_image" src="imgs/wizard.png" alt="dėdė burtininkas">