@model List<homeopatija.Entities.Drug>

@{
    ViewBag.Title = "Vaistų sąrašas";
}

<div class="drug-grid">
    @foreach (var product in Model)
    {
      @await Html.PartialAsync("_DrugCardPartial", product)
    }
</div>
