@model homeopatija.Models.DUK

@{
    ViewData["Title"] = "Create";
}

<h1>Create new DUK</h1>

<h4>DUK</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="eiliskumas" class="control-label"></label>
                <input asp-for="eiliskumas" class="form-control" />
                <span asp-validation-for="eiliskumas" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="klausimas" class="control-label"></label>
                <input asp-for="klausimas" class="form-control" />
                <span asp-validation-for="klausimas" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="atsakymas" class="control-label"></label>
                <input asp-for="atsakymas" class="form-control" />
                <span asp-validation-for="atsakymas" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="sukurimo_data" class="control-label"></label>
                <input asp-for="sukurimo_data" class="form-control" />
                <span asp-validation-for="sukurimo_data" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
